fastapi
uvicorn
sqlalchemy
pymysql
cryptography
python-jose[cryptography]
passlib[bcrypt]
python-multipart
pydantic
pydantic-settings
alembic
aliyun-python-sdk-core
aliyun-python-sdk-ecs
aliyun-python-sdk-cms
paramiko
